:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1C1C1C;
}

h1 {
  text-align: center;
  color: #FFFFFF;
}

.wrapper_gallery_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.wrapper_gallery_container .wrapper_tier {

}

.wrapper_gallery_container .wrapper_tier .wrapper_image {
  border-radius: 8px;
  overflow: hidden;
}

.wrapper_gallery_container .wrapper_tier .wrapper_image .image {
  width: auto;
  height: var(--height);
  object-fit: cover;
  object-position: center;
}

